.App {
    display: flex;
    justify-content: flex-start;
}
.profile-pic {
    width: 85px;
    height: 100px;
}
.nav-sidebar .pic {
    height: 66px;
    width: 68px;
    margin: 20px auto 0 auto;
    background: white;
    border-radius: 50px;
}
.nav-sidebar p {
    margin: 5px;
    color: white;
    
}
.nav-sidebar img {
    max-width: 100%;
    min-height:100%;
    max-height: 100%;
    border-radius: 100%;
    object-fit: fill;
    box-shadow: 1px 1px 10px rgb(40, 38, 38);
}
.nav-sidebar {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: center;
    width: 88px;
    height: 100vh;
    box-shadow: 0 1px 7px grey;
    background-image: linear-gradient(
        to bottom,
        #ff9770,
        #ff70a6
    );
    position: sticky;
}
.nav-sidebar button {
    margin: 15px 0;
}
.nav-sidebar i {
    color: white;
    cursor: pointer;
}