.Post {
  box-shadow: 0 0 5px grey;
  background: white;
  justify-content: space-between;
  padding: 2rem 5rem;
  width: 100%;
  min-height: 100%;
}
.Post .header {
  display: flex;
  justify-content: space-between
}
.Post .picEnd {
  display: flex;
}
.Post .picEnd img {
  height: 100px;
}
.Post .picEnd p {
  margin-top: auto;
}
.Post .header h1 {
  font-size: 4rem;
  color: orange;
  margin-top: auto;
}
.content {
  display: flex;
  margin: 2rem;
}
.content .pic {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  min-width: 50%;
  max-width: 60%;
  text-align: center;
}

.description {
  align-self: start;
  font-size: 1.75rem;
  margin-left: 2rem;
  text-align: left;
}
.picEnd button {
  height: 30px;
  align-self: flex-end;
  margin-right: 1rem;
  cursor: pointer;
}
#edit {
  background: orange;
}
#delete {
  background: red;
  color: white;
}

