.Form {
    box-shadow: 0 0 5px grey;
    background: white;
    justify-content: space-between;
    padding: 20px;
    margin: 2rem auto auto;
    width: 100%;
}
.Form .wrapper {
    max-width: 800px;
    margin: auto;
}

.Form .postBtn {
    padding: .3rem 1rem;
    cursor: pointer;
}

.newImage img {
    max-height: 325px;
    max-width: 520px;
    box-shadow: 0 0 2px grey;
}

.newTitle {
    width: 100%;
    padding: 20px 40px;
    text-align: left;
}
.newTitle input {
    width: 100%;
    max-width: 800px;
}
textarea {
    width: 100%;
    max-width: 800px;
    border: 2px inset #efeeee;
    height: 100px;
}