.newImage img {
    max-height: 325px;
    max-width: 520px;
    box-shadow: 0 0 2px grey;
}
.newTitle {
    width: 100%;
    padding: 20px 40px;
    text-align: start;
}
.newTitle input {
    width: 100%
}
.newTitle {
    width: 100%;
    padding: 20px 40px;
    text-align: start;
}
.newTitle {
    width: 100%;
    padding: 20px 40px;
    text-align: start;
}
textarea {
    width: 100%;
    border: 1px solid black;
    height: 100px;
}