.App {
  text-align: center;
  display: flex;
  background: #f2f2f2;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
html {
  background: #f2f2f2;
}
.container {
  width: 100%;
  height: 100vh;
  background: none;


}

.postViews {
  display: flex;
  box-shadow: 0 0 5px grey;
  width: 80%;
  margin: auto;
  background: white;
  justify-content: space-between;
  padding: 20px;
  flex-direction: column;
}

.postViews .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 23px;

}
.postViews .header h1 {
  color: orange;
  font-size: 41px;
}
.postViews .header .picEnd {
  display: flex;
  align-items: flex-end;
}
#root > div > div.postViews > div.header > div > div > img {
  height: 50px;
  width: 50px;
}
#root > div > div.postViews > div.header > div > p {
  color: black;
}

.postViews .content {
  display: flex;

}
#root > div > div.postViews > div.content > div:nth-child(2){
  min-height: 340px;
}
.postViews .content img {
  border-radius: 0;
  box-shadow: none;
}
.postViews .content div p {
  color: black;
}